<!-- src/app/shared/components/layout/layout.component.html -->
<div class="flex h-screen bg-gray-50">
  <!-- Sidebar -->
  <aside
    class="z-20 hidden w-64 overflow-y-auto bg-white md:block flex-shrink-0"
  >
    <app-sidebar></app-sidebar>
  </aside>

  <div class="flex flex-col flex-1 w-full">
    <!-- Header -->
    <app-header></app-header>

    <!-- Main content -->
    <main class="h-full overflow-y-auto p-4">
      <div class="container mx-auto">
        <ng-content></ng-content>
      </div>
    </main>
  </div>
</div>
